*, *:before, *:after { box-sizing: border-box; }
* { margin: 0; }

*{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

input, button, label{
  margin:10px;
}
th{
  height: 70px;
  text-align: center;
}

#actions{
  text-align: center;
  vertical-align: middle;
}

table, th, td{
  border: 2px solid;
}

th,td, tr{
  padding-left:10px;
}
th{
  background-color: #cdb691;
}

#reactions{
  width: 100%;
  padding-left:40px;
  padding-right:40px;
  background-color: rgb(247, 244, 244);
  max-height:500px;
  overflow-y: auto;
  overflow-x: hidden;

}

h2{
  text-align:center;
}
table{
  align-self: center;
  width: 100%;
  border-collapse:collapse;
}
tr:nth-child(even) {background-color: #f2f2f2;}
tr:nth-child(odd) {background-color: #d8d4d4;}

#mainHeader{
  position: sticky;
    top: 0px;
    width: 100%;
    background-color: #5ccb95;
    display: flex; justify-content: center;
    padding: 30px;
}
